*.iml
.gradle/
.idea/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/normal/*
/app/src/normal/java/io/agora/education/fetchtoken/
app/release/app-release.apk
app/release/output-metadata.json
