<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.agoraclasssdk">

    <application>

        <activity
            android:name="io.agora.classroom.ui.AgoraClass1V1Activity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AgoraAppThemeFullScreen"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name="io.agora.classroom.ui.AgoraClassSmallActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AgoraAppThemeFullScreen"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name="io.agora.classroom.ui.AgoraClassSmallArtActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AgoraAppThemeFullScreen"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        
        <activity
            android:name="io.agora.classroom.ui.AgoraClassLargeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AgoraAppThemeFullScreen"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name="io.agora.classroom.ui.AgoraClassLargeArtActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AgoraAppThemeFullScreen"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name="io.agora.classroom.ui.goup.AgoraClassSmallGroupingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTask"
            android:theme="@style/AgoraAppThemeFullScreen"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

    </application>

</manifest>