<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.education">

    <application
        android:name=".EduApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:theme="@style/AgoraAppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="io.agora.agoraeducore.core.internal.launch.AgoraEduSDKInit"
            android:authorities="${applicationId}.AgoraEduSDKInit"
            android:exported="false" />

        <activity
            android:name=".AgoraQATestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisclaimersActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>